<!DOCTYPE html>
<html>
<head>
    <title>Twilio Client Quickstart Please Update</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        .top-margin{
            margin-top: 1em;
        }
        .blue-background{
            background-color: #BBBBFF
        }
        .green-background{
            background-color: #BBFFBB
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1> </h1>
        </div>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-6 well" id="call-controls">
                <div class="row" id="client-name"></div>
                <div class="row">
                    <div class="form-group">
                        <input type="text" class="form-control" id="phone-number" placeholder="Enter a phone # or client name">
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="button-1" onclick="number_write(1);">1</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="button-2" onclick="number_write(2);">2</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="button-3" onclick="number_write(3);">3</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="button-4" onclick="number_write(4);">4</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="button-5" onclick="number_write(5);">5</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="button-6" onclick="number_write(6);">6</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="button-7" onclick="number_write(7);">7</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="button-8" onclick="number_write(8);">8</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="button-9" onclick="number_write(9);">9</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-info" id="button-del" onclick="number_del;">Del</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="button-0" onclick="number_write(0);">0</button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-info" id="button-clr" onclick="number_clear;">Clr</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btn-group btn-group-justified">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success" id="button-call"><span class="glyphicon glyphicon-earphone"></span></button>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger" id="button-hangup"><span class="glyphicon glyphicon-phone-alt"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="log" class="col-xs-3"></div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-xs-offset-6">
                <section class="agent-activity offline">
                    <h3 class="activity alert alert-danger">Offline</h3>
                    <button class="btn btn-success change-activity" data-next-activity="Idle">Go Available</button>
                </section>
                <section class="agent-activity idle">
                    <h3 class="activity alert alert-success">Available</h3>
                    <button class="btn btn-danger change-activity" data-next-activity="Offline">Go Offline</button>
                </section>
                <section class="agent-activity reserved">
                    <h3 class="activity alert alert-info">Reserved</h3>
                </section>
                <section class="agent-activity busy">
                    <h3 class="activity alert alert-danger">Busy</h3>
                </section>
                <section class="agent-activity wrapup">
                    <h3 class="activity alert alert-info">Wrap-Up</h3>
                    <button class="btn btn-success change-activity" data-next-activity="Idle">Go Available</button>
                    <button class="btn btn-danger change-activity" data-next-activity="Offline">Go Offline</button>
                </section>
            </div>
            <div id="tlog" class="col-xs-3"></div>
        </div>
    </div>

    <script type="text/javascript" src="//media.twiliocdn.com/sdk/js/client/v1.3/twilio.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/static/quickstart.js"></script>

    <script src="//media.twiliocdn.com/taskrouter/js/v1.4/taskrouter.min.js"></script>
    <script type="text/javascript">
        /* Subscribe to a subset of the available TaskRouter.js events for a worker */
        function registerTaskRouterCallbacks() {
            worker.on('ready', function(worker) {
                agentActivityChanged(worker.activityName);
                logger("Successfully registered as: " + worker.friendlyName)
                logger("Current activity is: " + worker.activityName);
            });

            worker.on('activity.update', function(worker) {
                agentActivityChanged(worker.activityName);
                logger("Worker activity changed to: " + worker.activityName);
            });

            worker.on("reservation.created", function(reservation) {
                logger("-----");
                logger("You have been reserved to handle a call!");
                logger("Call from: " + reservation.task.attributes.from);
                logger("Selected language: " + reservation.task.attributes.selected_language);
                logger("-----");
            });

            worker.on("reservation.accepted", function(reservation) {
                logger("Reservation " + reservation.sid + " accepted!");
            });

            worker.on("reservation.rejected", function(reservation) {
                logger("Reservation " + reservation.sid + " rejected!");
            });

            worker.on("reservation.timeout", function(reservation) {
                logger("Reservation " + reservation.sid + " timed out!");
            });

            worker.on("reservation.canceled", function(reservation) {
                logger("Reservation " + reservation.sid + " canceled!");
            });
        }

        /* Hook up the agent Activity buttons to TaskRouter.js */

        function bindAgentActivityButtons() {
            // Fetch the full list of available Activities from TaskRouter. Store each
            // ActivitySid against the matching Friendly Name
            var activitySids = {};
            worker.activities.fetch(function(error, activityList) {
                var activities = activityList.data;
                var i = activities.length;
                while (i--) {
                    activitySids[activities[i].friendlyName] = activities[i].sid;
                }
            });

            /* For each button of class 'change-activity' in our Agent UI, look up the
             ActivitySid corresponding to the Friendly Name in the button’s next-activity
             data attribute. Use Worker.js to transition the agent to that ActivitySid
             when the button is clicked.*/
            var elements = document.getElementsByClassName('change-activity');
            var i = elements.length;
            while (i--) {
                elements[i].onclick = function() {
                    var nextActivity = this.dataset.nextActivity;
                    var nextActivitySid = activitySids[nextActivity];
                    worker.updateActivity(nextActivitySid);
                }
            }
        }

        /* Update the UI to reflect a change in Activity */

        function agentActivityChanged(activity) {
            hideAgentActivities();
            showAgentActivity(activity);
        }

        function hideAgentActivities() {
            var elements = document.getElementsByClassName('agent-activity');
            var i = elements.length;
            while (i--) {
                elements[i].style.display = 'none';
            }
        }

        function showAgentActivity(activity) {
            activity = activity.toLowerCase();
            var elements = document.getElementsByClassName(('agent-activity ' + activity));
            elements.item(0).style.display = 'block';
        }

        /* Other stuff */

        function logger(message) {
            var log = document.getElementById('tlog');
            log.innerHTML += '<p>&gt;&nbsp;' + message + '</p>';
            log.scrollTop = log.scrollHeight;
        }

        window.onload = function() {
            // Initialize TaskRouter.js on page load using window.workerToken -
            // a Twilio Capability token that was set from rendering the template with agents endpoint
            logger("Initializing...");
            window.worker = new Twilio.TaskRouter.Worker("{{ worker_token }}");

            registerTaskRouterCallbacks();
            bindAgentActivityButtons();
        };

        function number_write(number) {
            var text_box = document.getElementById("phone-number");
            if (number >= 0 && number <= 9){
                if(isNaN(text_box.value)){
                    text_box.value = 0;
                }
                text_box.value = (text_box.value * 10) + number;
            }
        }

        function number_clear() {
            var text_box = document.getElementById("phone-number");
            test_box.value = 0;
        }

        function number_del() {
            var text_box = document.getElementById("phone-number");
            text_box.value = (text_box.value - text_box.value % 10) / 10;
        }
    </script>

</body>
</html>